body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg?w=2000&t=st=1693629481~exp=1693630081~hmac=6a838e1b3084edab7b0e8d855533d5e51d5fc587c60ced887c5437ca5634c130'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.button-container {
    display: flex;
    gap: 20px;
}

.channel-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.channel-button h2 {
    font-size: 24px;
}

.channel-button p {
    font-size: 18px;
}

.channel-button:hover {
    background-color: #2980b9;
}

.header {
    font-size: 36px; /* Adjust the font size to your preference */
    margin-bottom: 20px;

  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent scrolling when the animation is active */
}


  .header {
    font-size: 36px; /* Adjust the font size to your preference */
    margin-bottom: 20px;
    
.footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
