/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

#movie-list,
#movie-list-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
    max-width: 300px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: #202124;
}

a:hover {
    color: #51545c;
}

/* Style for the settings menu */
.settings-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333; /* Greyish black background */
    border: 2px solid #555; /* Lighter border */
    border-radius: 10px;
    padding: 20px;
    width: 80%; /* 80% of the screen width */
    max-width: 1920px; /* Maximum width of 1920px */
    max-height: 1080px; /* Maximum height of 1080px */
    overflow: auto; /* Enable scrolling if content exceeds the menu's height */
    z-index: 9999; /* Ensure it's on top of other elements */
    display: none; /* Initially hidden */
}

.settings-menu ul {
    list-style-type: none;
    padding: 0;
}

.settings-menu ul li {
    margin-bottom: 10px;
}

.settings-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Show the menu when settings icon is clicked */
.settings-icon.active + .settings-menu {
    display: block;
}
