/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

#movie-list,
#movie-list-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
    max-width: 300px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: #202124;
}

a:hover {
    color: #51545c;
}

/* New Settings Menu Styling */
.settings-menu {
    display: none; /* Hide the settings menu by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333; /* Greyish black fill */
    border: 2px solid #444; /* Lighter borders */
    padding: 20px; /* Add padding for spacing inside the menu */
    max-width: 400px; /* Adjust the width as needed */
    width: 80%; /* Adjust the width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
}

.settings-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.settings-menu ul {
    list-style-type: none;
    padding: 0;
}

.settings-menu li {
    margin: 10px 0;
}

.settings-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; /* Adjust the font size as needed */
}

.settings-menu a:hover {
    color: #00bcd4; /* Change the link color when hovering */
}

/* Show the settings menu when the 'show' class is applied */
.settings-menu.show {
    display: block;
}

/* Adjust the size of the settings icon */
.settings-icon a img {
    width: 24px; /* Set the width to your preferred size */
    height: 24px; /* Set the height to your preferred size */
}

/* Add styles for the checkmark */
.settings-menu .checkmark {
    display: none; /* Initially hide the checkmark */
    margin-left: 10px; /* Adjust margin as needed */
}

/* Add styles for the X symbol */
.settings-menu .x-symbol:before {
    content: '✕'; /* Add the X symbol */
    margin-left: 10px; /* Adjust margin as needed */
}
