/* styles.css */

body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

#movie-list,
#movie-list-2 { /* Apply the same styles to both movie lists */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between; /* Horizontal spacing between cards */
}

.movie-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
    max-width: 300px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none; /* Remove the underline */
    color: #202124; /* Change the link color to your preferred color */
}

/* Change link color when hovering */
a:hover {
    color: #51545c; /* Change the link color when hovering */
}
